.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vw;
  background-image: url(https://media.giphy.com/media/CTxhjh3qHtW1gL8OtF/giphy.gif);
  background-position: 50%;
  display: flex;
  justify-content: space-between;
}

.logo-section {
  margin-left: 3em;
}

.header-links {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}
