@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vw;
  background-image: url(https://media.giphy.com/media/CTxhjh3qHtW1gL8OtF/giphy.gif);
  background-position: 50%;
  display: flex;
  justify-content: space-between;
}

.logo-section {
  margin-left: 3em;
}

.header-links {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  margin: 2rem;
  margin-bottom: 0rem;
  text-shadow: 2px 2px #2000ad;
}
