.footer {
  width: 100vw;
  height: 50px;
  background-image: url(https://media.giphy.com/media/CTxhjh3qHtW1gL8OtF/giphy.gif);
  background-position: 50%;
  transform: scaleX(-1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-tag {
  color: white;
  transform: scaleX(-1);
  bottom: 0;
  left: 10px;
  position: absolute;
}
